<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <form method="post" action="/"">
            <h1>Recipe Name</h1>
            <input name="recipe_name" type="text">
            <button type="submit"> Submit </button>
            <h1>Ingredients</h1>
            <!-- the name must match fields, [] is a identifier that states its a sequence(vec) -->
            <input name="ingredients[]" type="text">
            <button type="submit"> Submit </button>
            <h1>Seasonings</h1>
            <input name="seasonings[]" type="text">
            <button type="submit[]"> Submit </button>
            <h1>Cooking Tools</h1>
            <input name="cooking_tools[]" type="text">
            <button type="submit"> Submit </button>
            <h1>Cooking Time</h1>
            <input name="cooking_time" type="text">
            <button type="submit"> Submit </button>
        </form>

        {% for recipe in recipes %}
        <div>
            <h1> {{recipe.recipe_name}} </h1>
            <h1> Ingredients! </h1>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li> {{ingredient}} </li>
                {% endfor %}
            </ul>
            <h1> Seasonings! </h1>
            <ul>
                {% for seasoning in recipe.seasonings %}
                    <li> {{seasoning}} </li>
                {% endfor %}
            </ul>
            <h1> Cooking Tools! </h1>
            <ul>
                {% for cooking_tool in recipe.cooking_tools %}
                    <li> {{cooking_tool}} </li>
                {% endfor %}
            </ul>
            <h1> The time it takes to finish cooking this: {{recipe.cooking_time}} </h1>
        </div>
        {% endfor %}
    </body>
</html>