
<!-- npx @tailwindcss/cli -i ./css/input.css -o ./src/output.css --watch -->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/src/output.css">
    <script src="script.js"></script>
    <title>Home</title>
</head>

<body>

    <h1 class="flex justify-center items-center text-5xl text-black font-bold py-3">
        Recipe Manager
    </h1>

    <div class="flex justify-between w-full px-10">

        <form method="post">

            <div class="flex flex-row justify-start items-start gap-2 max-w-sm">
                <div class="mb-5">
                    <label class="block mb-2.5 text-sm font-medium">
                        Recipe Name
                    </label>

                    <input
                        name="recipe_name"
                        type="text"
                        class="border-2 border-blue-500 rounded-sm px-4 py-2 hover:bg-gray-200 transition"
                        placeholder="ex. Salad"
                        required
                    >
                </div>
            </div>

            <div class="flex flex-row justify-start items-start gap-2 max-w-sm">

                <div id="ingredients" class="mb-5">
                    <label class="block mb-2.5 text-sm font-medium">
                        Ingredient
                    </label>
                        <input
                        name="ingredients"
                        type="text"
                        class="border-2 border-blue-500 mb-5 mr-5 rounded-sm px-4 py-2 hover:bg-gray-200 transition"
                        placeholder="ex. Carrot"
                        required
                        >
                    <!--type="submit" refers to the form button-->
                    <!--Padding is for the content inside, margin is outside spacing-->
                    <button 
                        id="addIngredient"
                        type="button" 
                        onclick="addInputIngredients()"
                        class="mb-5 border-2 rounded-sm px-2 py-1 hover:bg-green-300 hover:border-black transition duration-300">+ Add Ingredient</button>
                </div>

                <div id="seasonings" class="mb-5">
                    <label class="block mb-2.5 text-sm font-medium">
                        Seasoning
                    </label>

                    <input
                        name="seasonings"
                        type="text"
                        class="mb-5 border-2 border-blue-500 mr-5 rounded-sm px-4 py-2 hover:bg-gray-200 transition"
                        placeholder="ex. Salt"
                        required
                    >
                    <button 
                        id="addSeasoning"
                        type="button"
                        onclick="addInputSeasonings()"
                        class="mb-5 border-2 rounded-sm px-2 py-1 hover:bg-green-300 hover:border-black transition duration-300">+ Add Ingredient</button>
                </div>

                <div 
                id="cookingTools"
                class="mb-5">
                    <label class="block mb-2.5 text-sm font-medium">
                        Cooking Tool
                    </label>

                    <input
                        name="cooking_tools"
                        type="text"
                        class="mb-5 border-2 border-blue-500 mr-5 rounded-sm px-4 py-2 hover:bg-gray-200 transition"
                        placeholder="ex. Spatula"
                        required
                    >
                    <button 
                    type="button" 
                    id="addCookingTool"
                    onclick="addInputCookingTools()"
                    class="mb-5 border-2 rounded-sm px-2 py-1 hover:bg-green-300 hover:border-black transition duration-300">+ Add Ingredient</button>
                </div>

            </div>

            <div class="mb-5">

                <div class="flex gap-2 items-end">
                    <label class="block mb-2.5 text-md font-bold">
                        Cooking Time
                    </label>

                    <span class="text-sm text-gray-50">
                        Enter time in minutes
                    </span>
                </div>

                <input
                    name="cooking_time"
                    type="text"
                    class="border-2 border-blue-500 rounded-sm px-4 py-2 hover:bg-gray-200 transition"
                    placeholder="ex. 30"
                    required
                >

            </div>

            <button
                type="submit"
                class="border-2 border-blue-300 rounded-sm px-2 py-2 bg-blue-500 text-white hover:bg-blue-100 hover:text-black transition duration-300"
            >
                Submit Recipe
            </button>

        </form>

        <div>

            {% for recipe in recipes %}

            <div class="border-2 rounded-sm px-2 py-1">

                <h1>Recipe Name</h1>
                <h1>{{recipe.recipe_name}}</h1>

                <h1>Ingredients</h1>
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>

                <h1>Seasonings</h1>
                <ul>
                    {% for seasoning in recipe.seasonings %}
                    <li>{{seasoning}}</li>
                    {% endfor %}
                </ul>

                <h1>Cooking Tools</h1>
                <ul>
                    {% for cooking_tool in recipe.cooking_tools %}
                    <li>{{cooking_tool}}</li>
                    {% endfor %}
                </ul>

                <h1>
                    The time it takes to finish cooking this:
                    {{recipe.cooking_time}}
                </h1>

            </div>

            {% endfor %}

        </div>

    </div>

</body>
</html>
